@section scripts {
    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/Scripts/typeahead.bundle.min.js")
}

@using System.Web.Mvc
<div>    
    <div class="startPlayer">
        <p>Choose a song and start listening to the perfect music for your mood!</p>

        <input class="typeahead" type="text" placeholder="Song">
    </div>

    <div class="player">
        <audio controls>
            <source src="" type="audio/mp3">
        </audio>
        <p class="songName">Song</p>
        @*<div id="rateSong"></div>*@
        <select id="ratingDropDown" name="colors">
            <option value="1">Very Bad</option>
            <option value="2">Bad</option>
            <option value="3">Ok</option>
            <option value="4">Good</option>
            <option value="5">Very Good</option>
        </select>   
        <button id="rateSongBtn">Rate</button>
        <button class="nextSong" id="nextSongButton">
            <div class="icon"></div>
            <div class="label">Next Song</div>
        </button>
    </div>

    <div class="uploadFiles">
        <form enctype="multipart/form-data" method="post" action="http://localhost/api/Music/Upload"
              id="ajaxUploadForm" novalidate="novalidate">
            <fieldset>
                <legend>Upload Song</legend>
                <input type="file" id="fileInput" name="fileInput" onchange="handleFiles(files)">
                <div class="errorMessage"></div>
                <input type="submit" value="Upload" id="ajaxUploadButton" class="btn">
            </fieldset>
        </form>
    </div>
</div>