@section scripts {
    @Scripts.Render("~/Scripts/main.js")
    @Scripts.Render("~/Scripts/typeahead.bundle.min.js")
}

@using System.Web.Mvc
<div>    
    <div class="startPlayer">
        <p>Choose a song and start listening to the perfect music for your mood!</p>

        <input class="typeahead" type="text" placeholder="Song">
    </div>

    <div class="player">
        <div class="player-controls row">
            <audio controls>
                <source src="" type="audio/mp3">
            </audio>
            <button class="nextSong btn btn-default" id="nextSongButton">Next Song</button>
        </div>
        <p class="songName">Song</p>
        <select id="ratingDropDown" class="form-control" name="colors">
            <option value="5">I Love It!</option>
            <option value="4">I Like It</option>
            <option value="3">It's Ok</option>
            <option value="2">I Don't Like It</option>
            <option value="1">I Hate It</option>
        </select>   
        <button id="rateSongBtn" class="btn btn-default">Rate</button>
    </div>

    <div class="uploadFiles">
        <form enctype="multipart/form-data" method="post" action="http://localhost/api/Music/Upload"
              id="fileUploadForm" novalidate="novalidate">
            <fieldset>
                <legend>Upload Song</legend>
                <span class="btn btn-default btn-file">
                    Browse... <input type="file" id="fileInput" name="fileInput" multiple onchange="handleFiles(files)" >
                </span>
                <div class="progress hidden">Upload in progress</div>
                <div class="done hidden">Upload done</div>
                <div class="errorMessage hidden"></div>
            </fieldset>
        </form>
    </div>
</div>