@section scripts {
    @Scripts.Render("~/Scripts/main.js")
}
<div class="jumbotron">
    <div class="topNav">
        <div class="smartPlayerLogo"></div>
        <h1>SmartPlayer</h1>
</div>  
    <div class="uploadFiles">
        <form enctype="multipart/form-data" method="post" action="http://localhost/api/Music/Upload" 
              id="ajaxUploadForm" novalidate="novalidate">
            <fieldset>
                <legend>Upload Form</legend>
                <input type="file" id="fileInput" name="file">
                <input type="submit" value="Upload" id="ajaxUploadButton" class="btn" onclick="handleFiles(event)">
            </fieldset>
        </form>

    </div>

    <div class="startPlayer">
        <p>Choose a song and start listening to the perfect music for your mood!</p>

        <input id="autocomplete">
        <button class="playBtn">Play</button>
    </div>

    <div class="player">
        <button class="playPauseBtn" onclick="togglePlayPause()">Play/Pause</button>
        <p class="songName">Song</p>
        <div class="like" title="Like" onclick="likeCurrentSong()">Like</div>
        <div class="dislike" title="Dislike" onclick="dislikeCurrentSong()">Dislike</div>
        <button class="nextSong">
            <div class="icon"></div>
            <div class="label">Next Song</div>
        </button>
        <p class="nextSongName">Next Song</p>
    </div>
</div>