@section scripts {
    @Scripts.Render("~/Scripts/main.js")

    <script>
        // document ready
        myClass(@Html.Raw(Json.Encode(Model)))
    </script>
}
<div class="jumbotron">
    <div class="topNav">
        <div class="smartPlayerLogo"></div>
        <h1>SmartPlayer</h1>

        <input type="file" id="fileupload" name="files[]" onchange="handleFiles(files)">
    </div>  

    <div class="startPlayer">
        <p>Choose a song and start listening to the perfect music for your mood!</p>

        <input id="autocomplete">
        <button class="playBtn">Play</button>
    </div>

    <div class="player">
        <button class="playPauseBtn" onclick="togglePlayPause()">Play/Pause</button>
        <p class="songName">Song</p>
        <div class="like" title="Like" onclick="likeCurrentSong()">Like</div>
        <div class="dislike" title="Dislike" onclick="dislikeCurrentSong()">Dislike</div>
        <button class="nextSong">
            <div class="icon"></div>
            <div class="label">Next Song</div>
        </button>
        <p class="nextSongName">Next Song</p>
    </div>
</div>
<div class="row">    
    <div>
        @ViewBag.validSongs;
    </div>
</div>
